In [2]:
import pandas as pd
import numpy as np
import requests
from datetime import datetime
import gmaps

In [3]:
apikey = 'AIzaSyCiYqK7wNZ47SurQt9e_tbLn3L8k0svP_k'

In [4]:
addresses = [
    "33 Ntinda - Kisaasi Rd, Kampala", "2 Busibante Road, Najjera", "23 Frobel Road, Kampala", 
    "6 Kireka Road, Kampala", "6 Kimbeja Road, Kampala", "7 Serunkuma Road, Kampala", "5 Kibuuka Road, Kampala",
    "4 Kyanja Ring Road, Kampala", "17 Bangkok Way, Kampala", "67 Kigobe Road, Kampala", "3 Komamboga 2111, Kampala"
]

In [5]:
results = []
location_latitude = []
location_longitude = []
formatted_address = []

for location_str in addresses:
    r = requests.get("https://maps.googleapis.com/maps/api/geocode/json?address='%s'&key=%s"%(location_str, apikey))
    result = r.json()['results']
    location = result[0]['geometry']['location']
    location_longitude.append(location['lng'])
    location_latitude.append(location['lat'])
    formatted_address.append(result[0]["formatted_address"])
    results.append(result)

In [6]:
location_df = pd.DataFrame({'address': addresses, 'latitude': location_latitude, 'longitude': location_longitude,
                            'formatted_address': formatted_address})

In [7]:
location_df

,address,latitude,longitude,formatted_address
0,"33 Ntinda - Kisaasi Rd, Kampala",0.356926,32.612091,"33 Ntinda - Kisaasi Rd, Kampala, Uganda"
1,"2 Busibante Road, Najjera",0.385414,32.629975,"2 Busibante Rd, Najjera, Uganda"
2,"23 Frobel Road, Kampala",0.353755,32.604881,"Frobel Rd, Kampala, Uganda"
3,"6 Kireka Road, Kampala",0.318162,32.630189,"6 Kireka Rd, Kampala, Uganda"
4,"6 Kimbeja Road, Kampala",0.380846,32.644362,"Kimbeja Road, Kampala, Uganda"
5,"7 Serunkuma Road, Kampala",0.324529,32.628396,"7 Serunkuma Rd, Kampala, Uganda"
6,"5 Kibuuka Road, Kampala",0.316743,32.636082,"5 Kibuuka Rd, Kampala, Uganda"
7,"4 Kyanja Ring Road, Kampala",0.389214,32.595617,"4 Kyanja Ring Rd, Kampala, Uganda"
8,"17 Bangkok Way, Kampala",0.355309,32.615408,"17 Bangkok Way, Kampala, Uganda"
9,"67 Kigobe Road, Kampala",0.358223,32.625777,"67 Kigobe Rd, Kampala, Uganda"
10,"3 Komamboga 2111, Kampala",0.379440,32.595895,"3 Komamboga 2111, Kampala, Uganda"

In [8]:
lat_lng_df = pd.DataFrame({'latitude': location_latitude, 'longitude': location_longitude})

In [9]:
lat_lng_df

    latitude  longitude
0   0.356926  32.612091
1   0.385414  32.629975
2   0.353755  32.604881
3   0.318162  32.630189
4   0.380846  32.644362
5   0.324529  32.628396
6   0.316743  32.636082
7   0.389214  32.595617
8   0.355309  32.615408
9   0.358223  32.625777
10  0.379440  32.595895

In [10]:
loc_tuple = list(lat_lng_df.itertuples(index=False, name=None))

In [11]:
print(loc_tuple)

[(0.3569265, 32.612091), (0.3854143, 32.6299754), (0.3537549, 32.6048814), (0.3181622, 32.6301889), (0.3808461, 32.6443622), (0.3245291, 32.628396), (0.3167433, 32.6360821), (0.3892143, 32.5956169), (0.3553086, 32.6154078), (0.3582231, 32.6257773), (0.3794404, 32.5958953)]

In [12]:
destination = loc_tuple[-1]
# or
# destination = loc_tuple.pop()
print(destination)

loc_tuple.pop()
print(loc_tuple)

(0.3794404, 32.5958953)
[(0.3569265, 32.612091), (0.3854143, 32.6299754), (0.3537549, 32.6048814), (0.3181622, 32.6301889), (0.3808461, 32.6443622), (0.3245291, 32.628396), (0.3167433, 32.6360821), (0.3892143, 32.5956169), (0.3553086, 32.6154078), (0.3582231, 32.6257773)]

In [23]:
# origin = (0.3353469, 32.6016861)
# destination = destination
# way_points = loc_tuple
import gmaps.datasets

now = datetime.now()

# configure api
# dirs_apikey = 'AIzaSyCiYqK7wNZ47SurQt9e_tbLn3L8k0svP_k'
# dirs_apikey = 'AIzaSyCiYqK7wNZ47SurQt9e_tbLn3L8k0svP_k'
# dirs_apikey = 'AIzaSyCC2iZFIKBM5aEElBS_LO4DOr6eBMsFZBA'
gmaps.configure(api_key='AIzaSyCiYqK7wNZ47SurQt9e_tbLn3L8k0svP_k')

earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')

earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [24]:
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# create map
fig = gmaps.figure()

# create the layer
# layer = gmaps.directions_layer(origin, destination, waypoints=way_points, optimize_waypoints=True, 
#                                travel_mode='BICYCLING')

# print(layer)
# add layer to fig object
# fig.add_layer(gmaps)
fig

In [ ]:
loc_lists = [list(lat_lng) for lat_lng in loc_tuple]

In [ ]:
print(loc_lists)

In [ ]:
print(type(loc_lists))

In [ ]:
loc_lists[:, 1:3]

In [ ]:
loc_lists = np.array(loc_lists)

In [ ]:
print(loc_lists)

In [ ]:
loc_np_array = loc_lists[:, 1:3]

In [ ]:
loc_np_array

In [ ]:
new_loc_list = loc_np_array.tolist()

In [ ]:
new_loc_list

In [ ]:
full_loc = new_loc_list[0][0] + ", " + new_loc_list[0][1]

In [ ]:
full_loc

In [ ]:
new_loc_list

In [ ]:
one_list = [loc[0] + ", " + loc[1] for loc in new_loc_list]

In [ ]:
one_list

In [ ]:
one_list[0]

In [ ]:
new_directions = ["|".join(one_list)]

In [ ]:
new_directions

In [ ]:
new_loc_list = np.array2string(loc_np_array, separator="|")

In [ ]:
print(type(new_loc_list))

In [ ]:
print(loc_tuple)

In [ ]:
lat_lngs = []
for unique_loc in loc_tuple:
    lat_lng_tuple = unique_loc[1:3]
    lat_lngs.append()
    for item in lat_lng_tuple:
        print(item)
#     lat_lng_tuple = unique_loc[1:3]
#     print(lat_lng_tuple)
# # #     coord = unique_loc[1:3]
#     for co in coord:
# #     lat_lngs.append(coord[1])

In [ ]:
lat_lng = lat_lng_tuple.split()

In [ ]:
lat_lng

In [ ]:
loc_tuple[0][1:3]

In [ ]:
origin = (0.3353039874101158, 32.601793484299314)
destination = (0.385414, 32.629975)